*.swp                                                                                                                                                                                                      
*.pyc                                                                                                                                                                                                      
*ExportContact*                                                                                                                                                                                            
venv                                                                                                                                                                                                       
.cache/                                                                                                                                                                                                    
.direnv/                                                                                                                                                                                                   
.idea/                                                                                                                                                                                                     
.env                                                                                                                                                                                                       
.env.test                                                                                                                                                                                                  
.venv/                                                                                                                                                                                                     
__pycache__/    